{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block header %}

{% endblock header %}

{% block main %}
<main>
    <div class="content">
        <div class="container">

            <div class="same_products">
                <div class="content">
                    <h2 class="content__title">{{ title }}</h2>a
                    <div class="container">
                        <div class="content__cards">
                            {% for product in products %}
                            {% include 'components/_card.html' %}
                            {% endfor %}
                        </div>
                         {% if products %}
                        {% include 'store_onlayn/components/_paginations.html' %}
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

{% endblock main %}
