{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block header %}

{% endblock header %}

{% block main %}
<main>
    <div class="content">
        <div class="container">
            <h2 class="login_title">Регистрация</h2>
            {% for message in messages %}
            <div class="custom-alert">
                <div class="custom-alert-box">
                    <p class="custom-alert-title">Ошибка</p>
                    <p class="custom-alert-text">{{ message }}</p>
                    <button class="custom-alert-btn" onclick="this.closest('.custom-alert').style.display='none'">OK
                    </button>
                </div>
            </div>
            {% endfor %}

            <div class="login_content">
                <div class="login">
                    <div class="login_form">
                        <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ register_form.username}}
                            </div>
                            <div class="form-group">
                                {{ register_form.first_name}}
                            </div>

                            <div class="form-group">
                                {{ register_form.last_name}}
                            </div>
                            <div class="form-group">
                                {{ register_form.email }}
                            </div>
                            <div class="form-group">
                                {{ register_form.password1 }}
                            </div>
                            <div class="form-group">
                                {{ register_form.password2 }}
                            </div>
                            <div class="form-group">
                                <input type="text" name="phone" class="form-control" placeholder="Номер телефона"
                                       required id="id_phone_number">
                            </div>
                            <div class="form-group">
                                <input type="file" name="avatar">
                            </div>

                            <button class="btn btn-register" type="submit">Зарегистироваться</button>
                        </form>
                    </div>
                </div>


                <div class="register_info">
                    <h2 class="first_visit">Уже есть аккаунт?</h2>
                    <p>Если Вы уже проходили регистрацию, войдите через Ваш аккаунт или восстоновите свой доступ. </p>
                    <a href="{% url 'auth' %}" class="btn-to_login">Войти</a>

                </div>

            </div>
        </div>
    </div>
</main>
<script>
<script>
function closeAlert(button) {
    button.closest('.custom-alert').style.display = 'none';
}
</script>


</script>
{% endblock main %}
