{% load static %}
{% load humanize %}
{% load store_onlayn_tags %}
{% if request.user.is_authenticated %}
{% get_favorites request.user as favs %}
{% endif %}
<div class="card">
    {% if product.discount %}
    <p class="product_discount"><img src="{% static 'js/image/icons/discount.png' %}" alt=""></p>
    {% endif %}
    <a href="{{ product.get_absolute_url }}">
        <div class="card_img">
            <img src="{{ product.first_photo }}" alt="" class="image_good">
        </div>
        <p class="card_title">{{ product.title }}</p>
        <div class="card_price">
            {% if product.discount %}
            <p class="price">{{ product.get_price|intcomma }} сум
                <span class="old_price price">{{ product.price|intcomma }} сум</span>
            </p>
            {% else %}
            <p class="price">{{ product.get_price|intcomma }} сум </p>
            {% endif %}
            <span class="data_price">От {{ product.get_monthly_price|intcomma }} сум / 12 месяцев</span>
        </div>
    </a>
    <div class="card_button">
        {% if product.quantity > 0 %}
        <a href="{% url 'action_cart' product.slug 'add' %}" class="btn_card">
            <img src="{% static 'js/image/icons/cage.svg' %}" alt="">
            <span class="btn_text">В корзину</span>
        </a>
        {% else %}
        <div class="btn_card btn_card--disabled">
            <img src="{% static 'js/image/icons/cage.svg' %}" alt="">
            <span class="btn_text">Нет в наличии</span>
        </div>
        {% endif %}


        <a href="{% url 'action_fav' product.slug %}" class="link_fav {% if product in favs %} active {% endif %} ">
            <svg width="28" height="24" viewBox="0 0 28 24" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path
                        d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"
                        stroke="#0F2859" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"/>
            </svg>
        </a>
    </div>
</div>