{% load static %}
<footer>
    <div class="footer_info">
        <div class="container">
            <div class="footer__block">

                <div class="text_footer">
                    <h3 class="footer_title">Интернет-магазин</h3>
                    <ul class="footer_list">
                        <li><a href="https://t.me/um1dov7" class="footer_link">Связаться с разработчиком</a></li>
                        <li><a href="" class="footer_link">Адрес магазинов</a></li>
                        <li><a href="" class="footer_link">Подарочные сертификаты</a></li>
                        <li><a href="" class="footer_link">Торговые марки</a></li>
                        <li><a href="" class="footer_link">Каталог</a></li>
                    </ul>
                </div>
                <div class="text_footer">
                    <h3 class="footer_title">Покупательский сервис</h3>
                    <ul class="footer_list">
                        <li><a href="" class="footer_link">Покупка в рассрочку</a></li>
                        <li><a href="" class="footer_link">Возврат товара</a></li>
                        <li><a href="" class="footer_link">Гарантия на товары</a></li>
                        <li><a href="" class="footer_link">Сервисный центр</a></li>
                    </ul>
                </div>

                <div class="text_footer">
                    <h3 class="footer_title">Контакты</h3>
                    <ul class="footer_list">
                        <li>
                            <a href="" class="footer_contact">
                                <span class="footer_link"> г. Ташкент, Шота Руставели 150</span>
                                <span class="footer_link">+998 71 200 99 71 </span>
                                <span class="footer_link">Пн-Вс 9.00 - 18.00</span>
                            </a>
                        </li>
                        <li><a href="" class="footer_link">admin@digitalsrore.uz</a></li>
                        <li><a href="" class="footer_link">Посмотреть на карте</a></li>

                    </ul>
                </div>

                <div class="text_footer">
                    <h3 class="footer_title">Способ оплаты</h3>
                    <ul class="footer_list_pay">
                        <li><a href="https://stripe.com/" class="footer_pay"><img src="{% static 'js/image/pyment_img/i.webp'  %} " style="height:50px;width:80px" alt=""></a></li>

                    </ul>
                </div>

            </div>
        </div>
    </div>


</footer>